body {
    text-align: center;
    background-color: darkkhaki;
}
  
h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 0 firebrick;
}
  
.du {
    background-image: src("images/sa.jpg");
}
  
.ta {
    background-image: url("images/re.jpg");
}
  
.tu {
    background-image: url("images/ga.jpg");
}
  
.da {
    background-image: url("images/ma.png");
}
  
.su {
    background-image: url("images/pa.jpg");
}
  
.din {
    background-image: url("images/da.jpg");
}
  
.tin {
    background-image: url("images/ni.jpg");
}
  
.dum {
    background-image: url("images/saa.jpg");
}
  
.all {
    margin: 10% auto;
}
  
.animation {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
  
.button {
    outline: none;
    border: 10px solid indigo;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}